In [11]:
import numpy as np 
import pandas as pd

In [12]:
df=pd.read_csv("covid_19_data.csv")
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0
...,...,...,...,...,...,...,...,...
205946,205947,01/19/2021,Zaporizhia Oblast,Ukraine,20-01-21 5:21,62492,738,39168
205947,205948,01/19/2021,Zeeland,Netherlands,20-01-21 5:21,13031,149,0
205948,205949,01/19/2021,Zhejiang,Mainland China,20-01-21 5:21,1316,1,1298
205949,205950,01/19/2021,Zhytomyr Oblast,Ukraine,20-01-21 5:21,42758,707,37834
205950,205951,01/19/2021,Zuid-Holland,Netherlands,20-01-21 5:21,224398,3153,0

In [13]:
#deleting the lats update column
df.drop("Last Update",1)
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1,0,0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0,0,0
...,...,...,...,...,...,...,...,...
205946,205947,01/19/2021,Zaporizhia Oblast,Ukraine,20-01-21 5:21,62492,738,39168
205947,205948,01/19/2021,Zeeland,Netherlands,20-01-21 5:21,13031,149,0
205948,205949,01/19/2021,Zhejiang,Mainland China,20-01-21 5:21,1316,1,1298
205949,205950,01/19/2021,Zhytomyr Oblast,Ukraine,20-01-21 5:21,42758,707,37834
205950,205951,01/19/2021,Zuid-Holland,Netherlands,20-01-21 5:21,224398,3153,0

In [14]:
country=set(df['Country/Region'])
country

{' Azerbaijan',
 "('St. Martin',)",
 'Afghanistan',
 'Albania',
 'Algeria',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Channel Islands',
 'Chile',
 'Colombia',
 'Comoros',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Diamond Princess',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'East Timor',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'Gabon',
 'Gambia',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Holy See',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'MS Zaandam',
 'Macau',
 'Madagascar',
 'Mainland China',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Ireland',
 'North Macedonia',
 'Norway',
 'Oman',
 'Others',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Ireland',
 'Republic of the Congo',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Barthelemy',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Martin',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'The Bahamas',
 'The Gambia',
 'Timor-Leste',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'UK',
 'US',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican City',
 'Venezuela',
 'Vietnam',
 'West Bank and Gaza',
 'Yemen',
 'Zambia',
 'Zimbabwe',
 'occupied Palestinian territory'}

In [15]:
#extrct theh data of india
india=df[df['Country/Region']=='India']
india

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
430,431,01/30/2020,NaN,India,1/30/20 16:00,1,0,0
491,492,01/31/2020,NaN,India,1/31/2020 23:59,1,0,0
547,548,02-01-20,NaN,India,1/31/2020 8:15,1,0,0
607,608,02-02-20,NaN,India,2020-02-02T06:03:08,2,0,0
672,673,02-03-20,NaN,India,2020-02-03T21:43:02,3,0,0
...,...,...,...,...,...,...,...,...
205874,205875,01/19/2021,Tripura,India,20-01-21 5:21,33336,391,32907
205889,205890,01/19/2021,Unknown,India,20-01-21 5:21,0,0,0
205899,205900,01/19/2021,Uttar Pradesh,India,20-01-21 5:21,597238,8584,580482
205900,205901,01/19/2021,Uttarakhand,India,20-01-21 5:21,95039,1619,91428
205928,205929,01/19/2021,West Bengal,India,20-01-21 5:21,566073,10074,549218

In [16]:
india[india['Province/State']=='Delhi']

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
39005,39006,06-10-20,Delhi,India,11-06-20 3:33,31309,905,11861
39730,39731,06-11-20,Delhi,India,12-06-20 5:09,34687,1085,12731
40460,40461,06-12-20,Delhi,India,13-06-20 3:33,34687,1085,12731
41190,41191,06/13/2020,Delhi,India,14-06-20 3:33,36824,1214,13398
41920,41921,06/14/2020,Delhi,India,15-06-20 3:33,38958,1271,14945
...,...,...,...,...,...,...,...,...
202440,202441,01/15/2021,Delhi,India,16-01-21 5:22,631884,10732,618357
203201,203202,01/16/2021,Delhi,India,17-01-21 5:22,632183,10738,618754
203962,203963,01/17/2021,Delhi,India,18-01-21 5:22,632429,10746,619139
204723,204724,01/18/2021,Delhi,India,19-01-21 5:22,632590,10754,619501
205484,205485,01/19/2021,Delhi,India,20-01-21 5:21,632821,10764,619723

In [18]:
india.drop_duplicates(subset=['Province/State'],keep='last')

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
38099,38100,06-09-20,NaN,India,10-06-20 4:07,276146,7750,134670
39001,39002,06-10-20,Dadar Nagar Haveli,India,11-06-20 3:33,22,0,2
205379,205380,01/19/2021,Andaman and Nicobar Islands,India,20-01-21 5:21,4989,62,4897
205380,205381,01/19/2021,Andhra Pradesh,India,20-01-21 5:21,886245,7142,877443
205397,205398,01/19/2021,Arunachal Pradesh,India,20-01-21 5:21,16815,56,16707
205398,205399,01/19/2021,Assam,India,20-01-21 5:21,216887,1075,213084
205420,205421,01/19/2021,Bihar,India,20-01-21 5:21,257991,1461,253289
205454,205455,01/19/2021,Chandigarh,India,20-01-21 5:21,20595,330,20080
205461,205462,01/19/2021,Chhattisgarh,India,20-01-21 5:21,294355,3575,284848
205480,205481,01/19/2021,Dadra and Nagar Haveli and Daman and Diu,India,20-01-21 5:21,3391,2,3380
205484,205485,01/19/2021,Delhi,India,20-01-21 5:21,632821,10764,619723
205520,205521,01/19/2021,Goa,India,20-01-21 5:21,52570,756,50952
205536,205537,01/19/2021,Gujarat,India,20-01-21 5:21,256852,4369,246516
205542,205543,01/19/2021,Haryana,India,20-01-21 5:21,266581,2993,261751
205549,205550,01/19/2021,Himachal Pradesh,India,20-01-21 5:21,57019,967,55468
205575,205576,01/19/2021,Jammu and Kashmir,India,20-01-21 5:21,123538,1923,120512
205578,205579,01/19/2021,Jharkhand,India,20-01-21 5:21,117887,1057,115683
205596,205597,01/19/2021,Karnataka,India,20-01-21 5:21,933077,12181,913012
205599,205600,01/19/2021,Kerala,India,20-01-21 5:21,857380,3506,783393
205624,205625,01/19/2021,Ladakh,India,20-01-21 5:21,9662,129,9454
205625,205626,01/19/2021,Lakshadweep,India,20-01-21 5:21,0,0,0
205645,205646,01/19/2021,Madhya Pradesh,India,20-01-21 5:21,252186,3763,242691
205651,205652,01/19/2021,Maharashtra,India,20-01-21 5:21,1994977,50523,1894839
205653,205654,01/19/2021,Manipur,India,20-01-21 5:21,28900,367,28298
205666,205667,01/19/2021,Meghalaya,India,20-01-21 5:21,13710,144,13433
205680,205681,01/19/2021,Mizoram,India,20-01-21 5:21,4334,9,4258
205692,205693,01/19/2021,Nagaland,India,20-01-21 5:21,12066,88,11866
205736,205737,01/19/2021,Odisha,India,20-01-21 5:21,333566,1902,330051
205770,205771,01/19/2021,Puducherry,India,20-01-21 5:21,38706,643,37766
205774,205775,01/19/2021,Punjab,India,20-01-21 5:21,170937,5516,163009
205784,205785,01/19/2021,Rajasthan,India,20-01-21 5:21,315603,2752,308547
205832,205833,01/19/2021,Sikkim,India,20-01-21 5:21,6052,131,5765
205853,205854,01/19/2021,Tamil Nadu,India,20-01-21 5:21,831866,12281,814098
205857,205858,01/19/2021,Telangana,India,20-01-21 5:21,292395,1583,286893
205874,205875,01/19/2021,Tripura,India,20-01-21 5:21,33336,391,32907
205889,205890,01/19/2021,Unknown,India,20-01-21 5:21,0,0,0
205899,205900,01/19/2021,Uttar Pradesh,India,20-01-21 5:21,597238,8584,580482
205900,205901,01/19/2021,Uttarakhand,India,20-01-21 5:21,95039,1619,91428
205928,205929,01/19/2021,West Bengal,India,20-01-21 5:21,566073,10074,549218